.wd-navbar {
  background-color: black;
  color: white;
}

.wd-navbar .wd-navbar-head {
  display: flex;
}

.wd-navbar-left i {
  color: white;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}

.wd-navbar-middle {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.wd-navbar-middle a {
  color: white;
  text-decoration: none;
}

.wd-navbar-right i {
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
